<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Carrera</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <button
      mat-flat-button
      color="primary"
      matTooltip="Info about the action"
      class="mb-3"
    >
      Agregar
    </button>
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Nro</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>INGENIERÍA INFORMÁTICA</td>
          <td>187</td>
          <td>
            <button class="btn btn-primary btn-sm me-1" title="Editar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
              </svg>
            </button>
            <button class="btn btn-danger btn-sm" title="Eliminar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
              </svg>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>INGENIERÍA EN SISTEMAS</td>
          <td>123</td>
          <td>
            <button class="btn btn-primary btn-sm me-1" title="Editar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
              </svg>
            </button>
            <button class="btn btn-danger btn-sm" title="Eliminar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
              </svg>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>INGENIERÍA EN REDES Y TELECOMUNICACIONES</td>
          <td>100</td>
          <td>
            <button class="btn btn-primary btn-sm me-1" title="Editar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
              </svg>
            </button>
            <button class="btn btn-danger btn-sm" title="Eliminar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>


<!-- <mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Lists</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-lg-6">


        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Basic</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-list role="list">
              <mat-list-item role="listitem">Item 1</mat-list-item>
              <mat-list-item role="listitem">Item 2</mat-list-item>
              <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-6">

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Two Line</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle class="f-s-16 f-w-600">Title</span>
                <span matListItemLine class="mat-body-1">Second line</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle class="f-s-16 f-w-600">Title</span>
                <span matListItemLine class="mat-body-1">Second line</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-6">

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Three Line</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle class="f-s-16 f-w-600">Title</span>
                <span matListItemLine class="mat-body-1">Second line</span>
                <span matListItemLine class="mat-body-1">Third line</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle class="f-s-16 f-w-600">Title</span>
                <span matListItemLine class="mat-body-1"
                  >Second line. This line will truncate.</span
                >
                <span class="mat-body-1">Third line</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-6">

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Three Line with Text wrapping</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-list style="max-width: 500px">
              <mat-list-item lines="3">
                <span matListItemTitle class="f-s-16 f-w-600">Title</span>
                <span class="mat-body-1"
                  >Secondary line that will wrap because the list lines is
                  explicitly set to 3 lines. Text inside of a `matListItemTitle`
                  or `matListItemLine` will never wrap.
                </span>
              </mat-list-item>
              <mat-list-item lines="3" class="mat-body-1">
                <span matListItemTitle class="f-s-16 f-w-600">Title</span>
                <span class="mat-body-1"
                  >Secondary line that will wrap because the list lines is
                  explicitly set to 3 lines. Text inside of a `matListItemTitle`
                  or `matListItemLine` will never wrap.
                </span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-6">

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>List with Selection</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-selection-list #shoes>
              <mat-list-option *ngFor="let shoe of typesOfShoes">
                {{ shoe }}
              </mat-list-option>
            </mat-selection-list>

            <p class="mat-subtitle-2 f-w-600 p-16 bg-light-primary rounded">
              Options selected: {{ shoes.selectedOptions.selected.length }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-6">

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>List with single Selection</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-selection-list #shoes2 [multiple]="false">
              <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
                {{ shoe }}
              </mat-list-option>
            </mat-selection-list>

            <p class="mat-subtitle-2 f-w-600 p-16 bg-light-primary rounded">
              Option selected:
              {{
                shoes2.selectedOptions.hasValue()
                  ? shoes2.selectedOptions.selected[0].value
                  : "None"
              }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-12">

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>List with sections</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-list>
              <div mat-subheader class="mat-body-2 m-b-16 f-w-600">Folders</div>
              <mat-list-item *ngFor="let folder of folders">
                <mat-icon matListItemIcon>folder</mat-icon>
                <div matListItemTitle class="mat-body-2 f-w-600">{{ folder.name }}</div>
                <div matListItemLine class="f-s-14 mat-body-1">{{ folder.updated | date }}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <div mat-subheader class="mat-body-2 m-y-16 f-w-600">Notes</div>
              <mat-list-item *ngFor="let note of notes">
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle class="mat-body-2 f-w-600">{{ note.name }}</div>
                <div matListItemLine class="f-s-14 mat-body-1">{{ note.updated | date }}</div>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card> -->
