<div class="container">
  <h2>Management Page</h2>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <button routerLink="/register" class="reg-button">Add User</button>
  <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Rol</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>
                  <button class="delete-button" (click)="deleteUser(user.id)">Delete</button>
                  <button class="update-button" (click)="openEditModal(user)">Update</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<!-- Modal para editar usuario -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Update User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (submit)="updateUser()">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="userToUpdate.name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userToUpdate.email" required>
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <input type="text" class="form-control" id="role" name="role" [(ngModel)]="userToUpdate.role" required>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
