<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Asistencia</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="mb-3 d-flex align-items-center justify-content-between">
      <input type="text" class="form-control" id="buscar" name="buscar" required placeholder="Buscar.." [(ngModel)]="searchTerm" (input)="applyFilter()">
    </div>
    <div class="mb-3 d-flex align-items-center justify-content-between">
      <input type="date" class="form-control" id="fechainicio" name="fechainicio" [(ngModel)]="fechaInicio" (change)="applyFilter()">
      <input type="date" class="form-control" id="fechafin" name="fechafin" [(ngModel)]="fechaFin" (change)="applyFilter()">
    </div>

    <div class="d-flex mb-3">
      <button class="btn btn-danger btn-sm" title="PDF" (click)="imprimirPdf()">
        PDF
      </button>
      <button class="btn btn-info btn-sm ml-2" title="Excel" (click)="exportToExcel()">
        Excel
      </button>
    </div>
    <table class="table table-striped table-hover align-middle">
      <thead class="table-primary">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Materia</th>
          <th scope="col">Grupo</th>
          <th scope="col">Hr Est</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hr Llegada</th>
          <th scope="col">Tiempo</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of filteredAsistencia">
          <th scope="row">{{ a.id }}</th>
          <td>{{ a.grupo.materia.nombre }}</td>
          <td>{{ a.grupo.nombre }}</td>
          <td>7:00</td>
          <td>{{ a.fecha }}</td>
          <td>{{ a.hora }}</td>
          <td>{{ a.tiempo }}</td>
          <td>{{ a.descripcion }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
