<div class="row welcome-row">
  <!-- Welcome Card -->
  <div class="col-lg-12">
    <mat-card class="cardWithShadow text-center welcome-card bg-primary text-white">
      <mat-card-content class="p-20">
        <mat-card-title>Bienvenido al Sistema de Asistencia</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

  <div  *ngIf="isAdmin" class="col-lg-4">
    <mat-card class="cardWithShadow" routerLink="/ui-components/asistencia">
      <mat-card-content class="p-24">
        <mat-card-title>Gestionar Asistencias</mat-card-title>
        <p>Administra los registros de asistencia.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div  *ngIf="isAdmin" class="col-lg-4">
    <mat-card class="cardWithShadow" routerLink="/ui-components/badge">
      <mat-card-content class="p-24">
        <mat-card-title>Gestionar Materias</mat-card-title>
        <p>Administra las materias disponibles.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div  *ngIf="isAdmin" class="col-lg-4">
    <mat-card class="cardWithShadow" routerLink="/ui-components/facultades">
      <mat-card-content class="p-24">
        <mat-card-title>Gestionar Facultades</mat-card-title>
        <p>Administra las facultades y sus detalles.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div  *ngIf="isAdmin" class="col-lg-4">
    <mat-card class="cardWithShadow" routerLink="/ui-components/modulos">
      <mat-card-content class="p-24">
        <mat-card-title>Gestionar Módulos</mat-card-title>
        <p>Administra los módulos de enseñanza.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="isAdmin" class="col-lg-4">
      <mat-card class="cardWithShadow" routerLink="/ui-components/grupos">
      <mat-card-content class="p-24">
        <mat-card-title>Gestionar Progracion Academica</mat-card-title>
        <p>Administra los grupos de estudiantes.</p>

      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="isAdmin" class="col-lg-4">
    <mat-card class="cardWithShadow" routerLink="/ui-components/horarios">
      <mat-card-content class="p-24">
        <mat-card-title>Gestionar Horarios</mat-card-title>
        <p>Administra los horarios de clases.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="isAdmin" class="col-lg-4">
    <mat-card class="cardWithShadow " routerLink="/ui-components/aulas">
      <mat-card-content class="p-24">
        <mat-card-title>Gestionar Aulas</mat-card-title>
        <p>Administra las aulas y sus recursos.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="isAdmin" class="col-lg-4">
    <mat-card class="cardWithShadow " routerLink="/ui-components/carreras">
      <mat-card-content class="p-24">
        <mat-card-title>Gestionar Carreras</mat-card-title>
        <p>Administra las carreras académicas.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="isAdmin" class="col-lg-4">
    <mat-card class="cardWithShadow" routerLink="/ui-components/sistemasacademicos">
      <mat-card-content class="p-24">
        <mat-card-title>Sistema Academico</mat-card-title>
        <p>Administra los sistemas académicos.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
